# com.voideditor.Void
[Desktop Entry]
Name=Cursor
Exec=zypak-run.sh
Icon=com.voideditor.Void
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=cursor
